*{
    margin: 0;
    padding: 0;
    font-family:"Microsoft Yahei" ;
    border: none;
}
li{cursor: pointer;}
a{text-decoration: none;font-family:"Microsoft Yahei";color: #333333}
@media screen  and (min-width: 1800px)and (max-width: 1920px){
   #body .img-2{
        width: 79.3%;
    }
    #body .img-3{
        width: 58%;
    }
    #body .img-4{
        width: 49%;
    }
    #body #img-2{width: 76.3%}
    #body #img-3{width: 88.3%}
    #body #img-4{width: 86.3%}

}
.header{width: 100%;background-color: #f9f9f9;position: relative;z-index: 7}
.header-top{width:100%;background-color: #115d9b;}
.header-top-in{height: 46px;width: 70%;margin: 0 auto;min-width: 1000px;}/*sdf*/
.header-top .header-top-in ul{float: right;margin-top: 10px;margin-right: 36px;}
.header-top .header-top-in ul li{list-style: none;float: left;color: #ffffff;padding: 0 5px 0 5px;}
.header-top .header-top-in ul li a{color: #ffffff;font-size: 18px;}
.header-top-in2{height: 62px;background-color: #f9f9f9;}
.denglu-in2{height: 111px;}
.denglu-logo{line-height: 111px;height: 111px;}
#body .denglu-text p{line-height: 100px;font-weight: bold;margin-left:-50px;}
#body .denglu-logo .ll{margin-top: 28px;}
.denglu-logo img{margin-top: 23px;}
#body .denglu-logo p{line-height: 111px;}
.in2-in{width: 70%;margin: 0 auto;background-color: #f9f9f9;min-width: 1000px;}/*sdf*/
.logo{float: left}
.logo p{line-height: 62px;color: #0c1e46;font-size: 28px;font-weight:500;margin-left: 25px;}
.logo p,.logo img{float: left}
.logo .ll{margin-left: 5px;margin-top: 5px;}
.header-text{float: left;margin-left: 79px;color: #115d9b;font-size: 36px;margin-top: 5px;}
.header-top-in3{height: 46px;width: 70%;margin: 0 auto;min-width: 1000px;}/*sdf*/
.header-top-in3 .ul{margin: 0 auto;width: 80%;}
.header-top-in3 ul li{list-style: none;float: left;width:14.2%;margin-top: 11px;text-align: center}
.header-top-in3 ul li a{font-size: 16px;font-weight: bold;color: #ffffff;}
.header2{width: 100%;background-color: #0067b4}
.header2-banner{width: 70%;
    background-color: #04030f;
    height: 460px;
    margin: 0 auto;
    min-width: 1000px;
    position: relative;
    z-index: 5;
   }
.denglu-banner{height: 510px}
#body .denglu-banner .img{height: 510px}
.header2-banner .img{position: absolute;height: 463px;top:-3px;left: 0px;z-index: 4;width: 1000px}
.input input{width: 448px;height: 36px;outline: medium;border: none;float: left;}
.input a{float: left;display: block;width: 36px;height: 36px;background-color: #115d9b}
.input a img{margin-top: 7px;margin-left: 7px}
.input{height: 36px;position: absolute;bottom: 23px;left: 63px;z-index: 6}
.header2-banner .kuang2{width: 361px;height: 365px;border: 3px solid #7696d2;position: absolute;z-index: 6;right: 18px;bottom: -15px;}
.header2-banner .kuang{width: 361px;height: 365px;position: absolute;z-index: 7;right: 0px;bottom: -31px;}
.header2-banner .denglu-kuang{bottom: 80px;right: 30px;}
.denglu-kuang p{color: #ffffff;margin-top: 18px;margin-left: 18px;font-weight: bold;font-size: 20px;margin-bottom: 20px;}
.header2-banner .kuang-top{width: 342px;margin-top: 15px;margin-left: auto}
.header2-banner .kuang-top p,.header2-banner .kuang-top img{float: left}
.header2-banner .kuang-top p{font-size: 24px;font-weight: bold;color: #ffffff;}
.img1{margin-right: 5px;}
.img3{margin-top: 23px;margin-left: -10px;}
.kuang-text ul{width: 322px;margin: 10px auto 0 auto ;}
.kuang-text ul li{list-style: none;height: 40px;line-height: 40px;color: #ffffff;font-size: 18px;border-top: 1px solid #ffffff}
.kuang-text ul li span{float: right}
.kuang-text ul li a{font-size: 18px;color: #ffffff;}
.count{width: 100%;}
.count-in{width: 70%;margin: 0 auto;min-width: 1000px;}/*dsfsd*/
.count-in .left{width:64.8%;float: left;padding-top: 67px;}
.count-in .right{width: 32.6%;margin-left: 2.6%;float: left;padding-top: 67px;}
.left-1 .l-top{height: 61px;line-height: 61px;}
.right-1 .l-top{height: 61px;line-height: 61px;}
.right-2 .l-top{height: 61px;line-height: 61px;}
.left-2 .l-top2{height: 61px;line-height: 61px;}
.left-1 .l-top p,.left-1 .l-top img{float: left;font-size: 24px;color: #7696d2;margin-left: -10px;}
.right-1 .l-top p,.right-1 .l-top img{float: left;font-size: 24px;color: #7696d2;margin-left: -10px;}
.right-2 .l-top p,.right-2 .l-top img{float: left;font-size: 24px;color: #7696d2;margin-left: -10px;}
.right-1{height: 392px;}
.left-1{height: 392px;}
.left-2{height: 431px;}
.right-2{height: 431px;}
.left-2 .l-top2 p,.left-2 .l-top2 img{float: left;font-size: 24px;color: #7696d2;margin-left: -10px;}
.img-1{margin-left: 5px;margin-top: 10px;}
.img-2{margin-top: 36px;margin-left: -15px;width: 74.3%}
.img-3{width: 49%}
.l-bottom ul{margin-top: 25px;margin-left: -10px;}
.l-bottom2 ul{margin-top: 25px;margin-left: -10px;}
.l-bottom3 ul{margin-top: 25px;margin-left: -10px;}
.l-bottom ul li{float: left;width: 33%;background-color: #f3f3f3;height: 34px;line-height: 34px;text-align: center;list-style: none;border-top: 1px solid #0065b3;margin-right: 1px;}
.l-bottom2 ul li{float: left;width: 14%;background-color: #f3f3f3;height: 34px;line-height: 34px;text-align: center;list-style: none;border-top: 1px solid #0065b3;margin-right: 1px;}
.l-bottom3 ul li{float: left;width: 32.3%;background-color: #f3f3f3;height: 34px;line-height: 34px;text-align: center;list-style: none;border-top: 1px solid #0065b3;margin-right: 1px;}
.l-bottom ul li a{color: #a1a1a1;font-size: 22px;}
.l-bottom2 ul li a{color: #a1a1a1;font-size: 22px;}
.l-bottom3 ul li a{color: #a1a1a1;font-size: 22px;}
.l-box ul li{list-style: none;height: 50px;line-height: 50px;border-bottom: 1px dotted #cccccc;color: #333333;font-size: 12px;}
.l-box2 ul li{list-style: none;height: 50px;line-height: 50px;border-bottom: 1px dotted #cccccc;color: #333333;font-size: 12px;}
.l-box ul li:hover{background-color: #d9e5fc;}
.l-box2 ul li:hover{background-color: #d9e5fc;}
.l-box a{color: #333;font-size: 18px;margin-left: 10px;}
.l-box2 a{color: #333;font-size: 18px;margin-left: 10px;}
.l-box span{float: right;margin-right: 10px;}
.l-box2 span{float: right;margin-right: 10px;}
.box3{height: 298px;}
.box3 img{width: 100%;height: 298px;margin-left: -10px;}
 #body .blue{background-color: #0065b3;}
#body .blue a{color: #ffffff}
.l-box .more{color: #0b7cb4;font-size: 12px;float: right;margin-top: 10px;margin-right: 15px;}
.l-box2 .more{color: #0b7cb4;font-size: 12px;float: right;margin-top: 10px;margin-right: 15px;}
.hot-text{margin-left: -20px;margin-top: 16px;}
.hot-text div{float: left;margin-left: 10px;margin-top: 10px;line-height: 76px;text-align: center}
.hot-text div a{color: #ffffff}
.hot-text .text1{width: 111px;height: 76px;background-color:#0e96ee}
.hot-text .text2{width: 55px;height: 76px;background-color:#21b3ec}
.hot-text .text3{width: 75px;height: 76px;background-color:#0f7cd9}
.hot-text .text4{width: 55px;height: 76px;background-color:#0e96ee}
.hot-text .text5{width: 55px;height: 76px;background-color:#2480bf}
.hot-text .text6{width: 111px;height: 76px;background-color:#00a2e0}
.hot-text .text7{width: 55px;height: 76px;background-color:#4b4cf6}
.hot-text .text8{width: 75px;height: 76px;background-color:#0e96ee}
.hot-text .text9{width: 55px;height: 76px;background-color:#009cff}
.hot-text .text10{width: 55px;height: 76px;background-color:#0e96ee}
.footer{width: 100%;height: 132px;background-color: #e6e6e6;;text-align: center}
.footer p{line-height: 111px;color: #999999}
.footer p a{color: #999999;}
.bottom-blue{width: 100%;height: 21px;position: relative;bottom: 0px;background-color: #115d9b}
.zhuce{width:317px;height: 260px;padding: 22px 22px 18px 22px;position: relative}
.nope{position: absolute;top: 50px;z-index: 1}
.nope .nope1{position: absolute;top: 69px;}
.nope img{display: block}
.zhuce input{border-bottom: 1px solid #dddddd;width: 298px;height: 44px;margin-top: 22px;position: relative;z-index: 10;color: #ffffff;outline: medium}
.ini1{background-color: transparent}
.ini2{background-color: transparent}
.zhuce-a2{margin-top: 15px;padding-right: 25px;padding-left: 15px;}
.zhuce .zhuce-a2 a{color: #dddddd;;font-size: 12px;}
.bottonn{width: 299px;height: 45px;background-color: #3f89ec;display: block;text-align: center;line-height: 45px;color: #ffffff;font-weight: bold;font-size: 18px;margin-top: 35px;}
.quick{float: right;font-size: 12px;margin-top: 16px;margin-right: 25px;color: #1b66c7}
.denglu-footer{width: 100%;height: 323px;text-align: center}
.denglu-footer p{margin-top: 35px;color: #999999;}
.nope img{left: 15px;position: absolute}
/*�ֲ�*/
#cont{
    position: relative;
    width: 322px;
    height:111px;
   margin-left: auto;
    margin-right: auto;
}
.imm a{position: absolute}
.btn ul {
    position: absolute;
    z-index: 10000;
    bottom: 5px;
    right: 212px;

}

.btn ul li{
    width: 7px;
    height: 7px;
    background-color: #cccccc;
    /*border-radius: 50%;*/
    list-style: none;
    float: left;
    margin: 0 5px;
    text-align: center;
    color: transparent;
    line-height: 7px;
    cursor: pointer;
}
.btn ul li.on{
    background-color: #2b57ae;
}
.diin{
    width: 100%;
    height: 30px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 10000;
}
#jiao{
    display: none;
    position: relative;
    top: 35px;
}
#left{
    width: 35px;
    height: 50px;
    background-color: #555555;
    opacity: 0.6;
    z-index: 9999;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;


}
#right{
    width: 35px;
    height: 50px;
    background-color: #555555;
    opacity: 0.6;
    z-index: 9999;
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
/*�Է�ˮ���ˮ���*/
.list-body{
    width: 100%;
}
.list-body-top{width: 100%;height: 60px;background-color: #f9f9f9;
border-top: 1px solid transparent;
    border-bottom: 1px solid #0067b4;
}
.list-top-in{
    width: 70%;margin: 0 auto;min-width: 1000px;
}
.list-top-in a,.list-top-in span{position: relative;top: 21px;}
.list-input{width: 82%;height: 35px;float: right; margin-top: 13px;}
.list-input input{width: 84.5%;height: 100%;
    outline: medium;float:left;border: 1px solid #d4d4d4;border-right: none;}
.list-input a{display: block;width: 15%;height: 100%;line-height: 100%;background-color: #0067b4;float: right;top: 0;border: 1px solid #0067b4;}
.list-input a img{width: 15px;height: 15px;margin: 10px auto;display: block}
.list-body-in{width: 100%;height:100%;background: url("../img/blue-banner.png")no-repeat;background-position:center 0;border-top: 1px solid transparent}
.list-body-in-center{  width: 70%;margin: 0 auto;min-width: 1000px;border-top: 3px solid #0daacd;margin-top: 20px;}
.list-body-in-center ul{width: 100%}
.list-body-in-center ul li span{float: right}
.list-body-in-center ul li{height: 47px;line-height: 47px;background-color: #ffffff;color: #333333;padding-right: 25px;padding-left: 50px;list-style: none;position: relative;border-bottom: 1px dotted #cccccc;}
.list-body-in-center ul li a{color: #333333}
.list-body-in-center ul li:hover{background-color: #fff0ce}
.hong{width: 9px;height: 9px;background: red;position: absolute;left: 15px;top: 20px;}
.list-body-in-center h1{color: #008aa9;font-size: 36px;text-align: center;padding-top: 5px;}
.list-body-in-center h2{color: #333333;font-size: 16px;text-align: center;padding-top: 15px;padding-bottom: 15px;border-bottom: 1px dotted #cccccc}
.list-body-in-center .pp1{width: 90%;margin: 0 auto;padding-top: 25px;font-size: 18px;line-height: 30px;padding-bottom: 100px;}
.xiangxi{border: none}
.jiansuo{border: none}
.jiansuo-input{float: none;margin: 0 auto;height: 45px;position: relative}
.jiansuo-input a img{margin-top: 16px;}
.la{position:absolute;z-index: 10;height: 45px;width:90px;border: 1px solid #d4d4d4;background-color: #f5f5f5;top: 0px;left: 0px;cursor: pointer;border-right-color:#e5e5e5;display: inline-block;float: left;text-align: center; }
.la select{height: 45px;background-color: #f5f5f5;border: none;outline: medium;font-size: 18px;color: #646464;margin-left: 0}
.jiasuo-list{min-width: 1000px;}
.jiasuo-list ul{margin: 0 auto;width: 580px;}
.jiasuo-list ul li{float: left;padding: 10px 12px 3px 12px;text-align: center;list-style: none}
.jiasuo-list ul li a{color: #333333;font-size: 18px;}
.linee{;border-bottom: 2px solid #0065b3;}
#body .linee a{color: #0065b3;font-weight: bold}
#body .less{width: 85%;}
.zhishi{width: 70%;margin: 50px auto;background-color: #ffffff;border-top: 2px solid #0067b4;min-width: 800px;}
.zhishi h3{float: left;margin-top: 20px;font-size: 18px;color: #0067b4;margin-left: 36px;}
.zhishi-text{float: left;margin-top: 20px;width:86%}
.zhishi-text a{color: #04030f;font-size: 18px;}
.zhishi-text ul li{list-style: none;padding-bottom: 30px;float: left;margin-right: 35px;}
.zhishi-text span{margin: 0 6px;}
.paixu{width:70%;margin:57px auto 15px auto;min-width: 1000px;}
.paixu h3{color: #646464;font-size: 18px;font-weight: normal;margin-left: 10%}
.paixu-left{width: 224px;background-color: #ffffff;border: 1px solid #0067b4;margin-top: 20px;position: relative;float:right;min-height: 624px;margin-right: 21px;}
.paixu-left h1{font-size: 32px;color: #0065b3;text-align: center;padding: 30px 0 20px 0;}
.paixu-left h2{font-size: 24px;text-align: center;padding:25px 0 25px 0;color: #333333;cursor: pointer }
.paixu-left ul li{list-style: none;position: relative;z-index: 10;}
.lanmu-left ul li{list-style: none;position: relative;z-index: 10;}
.lanmu-left{position: relative}
.paixu-left ul li img{margin: 0 25px;}
.lanmu-left ul li img{margin: 0 10px;}
.paixu-left ul li{margin-bottom: 25px;}
.lanmu-left ul li{margin-bottom: 25px;}
.bookss{float: left;width: 25%;text-align: center;margin-top: 32px;;margin-bottom: 32px;}
#body .zzz{border-top: 5px solid #0daacd;background-color: #ffffff;border-left: 1px solid #dcdbdc;border-right: 1px solid #dcdbdc;border-bottom: 1px solid #dcdbdc;margin-bottom: 55px;}
#body .shujuku{padding: 4% 0% 10% 20%;position: relative}
#body .shujuku img{position: absolute;left: 2%}
.paixu-left .line1{height: 106px;border-right: 1px solid #dcdbdc;position: absolute;left: 29px;top: 184px;z-index: 9}
.paixu-left .line2{height: 106px;border-right: 1px solid #dcdbdc;position: absolute;left: 29px;bottom: 102px;z-index: 9}
.lanmu-left .line2{height: 106px;border-right: 1px solid #dcdbdc;position: absolute;left: 29px;bottom: 102px;z-index: 9}
.paixu-left a{font-size: 18px;color: #333333}
.zhuanti-top .zhuti{font-size: 30px;color: #115d9b}
.paixu-right{width: 70%;background: #ffffff;float: right;margin-top: 23px;border-top: 2px solid #0067b4;min-width: 750px;}
.paixu-right table input{background: #ffffff;width: 15px;height: 15px;border: 1px solid #0067b4;}
.table {text-align: center;margin-top: 0;border: 1px solid #dcdbdc;border-collapse:collapse;}
.tr1 .td1{width: 45px;text-align: center;border-right: 2px solid #dcdbdc;}
.tr1 td{border-right: 2px solid #dcdbdc}
#body .jiansuojieguo{height:100%;}
.tr1 .td6{border-right: 1px solid #dcdbdc;width: 160px;}
.tr1{height: 41px;}
.tr1 td{border-bottom: 1px solid #dcdbdc;background-color: #f5f5f5;;margin: 0;padding: 0;}
.tr1 .td2{width: 21%;}
.tr2{height: 85px;border-bottom: 1px solid #dcdbdc;background: #f5f5f5}
.tr2:hover{background: #fff0ce;}
.tr2 .td6 img{margin-right: 15px;}
.tr1 td .ok{position: relative;float: left;height: 20px;width: 8px;}
.tr1 td p{float: left;margin-left: 30%}
.tr1 div{cursor: pointer}
#body .cblue{border: 8px solid #007aff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;}
#body .cc{border: 8px solid #007aff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;}
.s1{border: 8px solid #dcdbdc;border-right-color: transparent;border-left-color: transparent;border-top-color: transparent;position: absolute;top: -6px;;}
.s2{border: 8px solid #dcdbdc;border-right-color: transparent;border-left-color: transparent;border-bottom-color: transparent;position: absolute;top: 13px;}
.tr2 .td6 img {cursor: pointer;}
.dao{width: 65px;height: 35px;background-color: #0067b4;color: #ffffff;display: block;text-align: center;line-height: 35px;float: right;margin-top: -35px;}
.zhuanti-body{width: 70%;margin: 0 auto;padding-bottom:70px;min-width: 1000px}
.zhuanti-top{padding: 4% 20% 4% 20%;border-bottom: 1px solid #0067b4;}
.zhuanti-top h1 span{font-size: 18px;font-weight: bold}
.zhuanti-top h1 {font-size: 18px;font-weight: normal;padding-bottom: 15px}
.a1{display: block;float: left;width: 126px;height: 46px;line-height: 46px;color: #ffffff;background-color: #0067b4;text-align: center;margin-right: 15px;margin-top: 35px;}
.zhuanti-bottom{padding-top: 25px;margin: 0 auto}
.a2{margin-left: 25%}
.zhuanti-bottom h1{font-size: 24px;padding-bottom: 25px;}
.zhuanti-bottom{padding-left: 5%;width:100%}
.zhuanti-bottom ul{float: left;margin-left: 35px;width: 40%}
.zhuanti-bottom ul li span{float: right}
.zhuanti-bottom ul li{list-style: none;position: relative;padding-bottom: 25px;}
.zhuanti-bottom ul li a{font-size: 18px;color: #333333;}
.zhuanti-bottom ul div{position: absolute;width: 9px;height: 9px;background-color: red;top: 7px;left: -33px;}
#body .uuz{margin-left:136px;}
.lanmu{width: 70%;margin: 0 auto;min-width: 1000px;}
.lanmu-left{width: 220px;border: 2px solid #0067b4;background-color: #ffffff;margin-top: 15px;float: right;min-height: 800px;margin-bottom: 50px;margin-right: 21px;}
.lanmu-left h1{width: 212px;margin: 15px auto;text-align: center;padding-bottom: 15px;border-bottom: 1px solid #0067b4;color: #0067b4;}
.lanmu-left h2{text-align: center;position: relative;padding-bottom: 25px;cursor: pointer;}
.i2{position: absolute;top: 15px;right: 10px;}
.i1{position: absolute;top: 3px;left: 24px;}
.h2{color: #0067b4;}
.uuu{text-align: center}
.lll{height: 100px;border-right: 1px solid #cccccc;position: absolute;top: 209px;left: 83px;}
.lanmu-right{width: 70%;float: right;margin-top: 15px;min-width: 754px;}
.lll2{height: 61px;}
#body .ccc{width:100%;min-width: 100%;}
#body .ccc ul{width: 100%;}
#body .cccc{padding-left: 2%;width: 100%;margin-top: 40px;}
#body .ggg{padding-left: 100px;width: 77.5%;font-size: 16px;}
#body .ggg2{position: absolute;right: 5px;}
.lan h5{width: 100%;text-align: center;padding-top: 10px;padding-bottom: 10px;position: relative;}
.lan h5:hover{background-color: #0065b3}
.lan img{position: absolute;left: 42px;top:17px;}
.lan h5 a{color: #333333;font-size: 24px;}
.cc-cup{width: 127px;height:180px;margin: 0 auto;border: 1px solid #0065b3}
#body .books  .c-cup .p1{;font-size: 16px;color: #333333;font-weight: bold;padding-bottom: 25px;padding-top: 25px;width: 120px;margin:0 auto;border-top: none;}
#body .books  .c-cup p{padding-top: 25px;border-top: 1px solid #0065b3;width:100px;margin: 0 auto}
#body .books  .c-cup p{font-size: 13px;}
#body .boddy{width: 70%;margin: 0 auto;min-width: 1000px;padding-top: 35px;padding-bottom: 65px;}
.shangceng-in{width: 25%;float: left}
.shangceng-in{text-align: center;font-size: 24px;color: #0067b4;padding-bottom: 55px;padding-top: 45px;}
.shangceng-in a{color: #0067b4}
.shangceng{border-bottom: 1px solid #0067b4}
.boddy h4{float: right}
.boddy h4 span{color: #f04946}
.div {background-color: #ffffff;padding: 45px 65px 88px 65px;border: 1px solid #cccccc;border-top: none;margin-top: 55px;}
.div h3{color: #115d9b;font-size: 24px;}
.pz{margin-top: 35px;font-size: 24px;padding-bottom: 79px;}
.d-left{text-align: center;float: left;width: 30%}
.d-left h3{font-size: 18px;}
.ii{margin-top: 35px;}
.iii{margin-left: 46px;margin-bottom: 78px;}
.ll2{float: right;width: 30%}
.ll3{width:30%;}
/*hgjghjghj*/
.botton span{
    font-size: 12px;
    color: #888888;
    display: block;
    float: left;
    margin-left: 15px;
    position: relative;top:10px;
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 177px;*/
}
#body .botton{
      margin: 39px auto;


    background-color: #ffffff;
}
#body .botton ul{
    width: 800px;
    margin: 0 auto;
}
#body .botton a{
    font-size: 14px;
    color: #4b84b3;
}
#body .botton ul a{
    font-size: 14px;
    color: #4b84b3;
}
#body .botton ul li{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #dedede;
    float: left;
    list-style: none;
    margin-left: 8px;
    cursor: pointer;
    padding: 0;
}
/*#body .shouye{*/
/*width: 32px;*/
/*height: 17px;*/
/*text-align: center;*/
/*line-height: 17px;*/
/*border: 1px solid #777777;*/
/*float: left;*/
/*}*/
/*#body .shouye2{*/
/*width: 32px;*/
/*height: 17px;*/
/*text-align: center;*/
/*line-height: 17px;*/
/*border: 1px solid #777777;*/
/*float: right;*/
/*margin-right: 10px;*/
/*}*/
#body .bluee{
    background-color: #7696d2;
}
#body ul .bluee  a{
    color: #ffffff;
}
.next{
    float:left;
    width: 72px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #dedede;
    list-style: none;
    margin-left: 8px;
}
.last{
    float:left;
    width: 72px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #dedede;
    list-style: none;
    margin-left: 8px;
}
/*xsdfsdf*/