body {
    padding: 0;
    margin: 0;
    border: 0;
}

#loading {
    margin: 10px;
}

.container {
}

.header {
    text-align: center;
}

.content {
    padding: 20px;
    font-size: 14px;
}
.cover{
    background-color:rgba(0,0,0,.7);
    height:100%;
}
.mui-content {
    background-color: #ffffff;
}

.pop_up_window {
    position: relative;
    background: rgb(109, 201, 205);
    width: 300px;
    border-radius: 20px;
    height: 180px;
    top: 160px;
    color: #FFFFFF;
}

.td_hand {
    cursor: pointer;
}

#beijing {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 9
}

.jieduanlouti{
    overflow: hidden;
    background:url(../images/jieduanlouti.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.beijing{
    display:none;
}
#remindMes{
    width:100%;height:100%;z-index:9999999;position:fixed; display:none;
}
.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=60);
    background-color: #777;
    opacity: 0;
    -moz-opacity: 0.5;
}
