<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="venders/js/mui.min.js"></script>
  <script type="text/javascript" src="venders/js/common.js"></script>
  <script type="text/javascript" src="venders/js/jquery.min.js"></script>
  <script type="text/javascript" src="venders/js/source/calendar.js"></script>
</head>
<body>
  <div class="container">
    <div id="app">Loading...</div>
  </div>
</body>
</html>
