<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/global.css">
  <script type="text/javascript" src="venders/js/mui.min.js"></script>
  <script type="text/javascript" src="venders/js/common.js"></script>
  <script type="text/javascript" src="venders/js/jquery.min.js"></script>
  <script type="text/javascript" src="venders/js/source/calendar.js"></script>
  <script src="venders/renti_map/app/vendor/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
  <script src="venders/renti_map/app/js/hammer.js"></script>
  <link rel="stylesheet" href="venders/renti_map/app/css/all.css">
  <script src="venders/renti_map/app/js/data.js"></script>
  <script src="venders/renti_map/app/js/tools.js"></script>
  <script src="venders/renti_map/app/js/renti-map.js"></script>
</head>
<body style="background-color:rgba(0,0,0,.7);">
  <div class="container">
    <div id="app">Loading...</div>
  </div>
</body>
</html>
